body {
background-color: #234311;
}
p {
color: #F1DD9E;
text-align: center;
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
h2 {
text-align: center;
color: #F1DD9E;
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
h3 {
color: #F1DD9E;
text-align: center;
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
a {
color: #FFFFFF;
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}



#wrap {
width: 100%;
text-align: center;
}

#result_img {
width: 300px;
}
#result_image {
display: inline-block;
vertical-align: middle;
overflow: hidden;
position: relative;
}
#result_image img {
width: 100%;
}



#main {
text-align: center;
width: 60%;
display: inline-block;
vertical-align: middle;
}
input {
height: 100px;
width: 100px;
border: 3px solid #234311;
border-radius: 10px
}
input:hover {
border: 3px solid #F1DD9E;
border-radius: 15px;
}



#result_content {
margin: 0 auto;
width: 300px;
height: 400px;
display: inline-block;
vertical-align: middle;
}


#attribution h2 {
text-align: left;
color: #F1DD9E;
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
#attribution p {
text-align: left;
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}