<!DOCTYPE html>
<html>
<head>
<title>OwlWire</title>
<link rel="stylesheet" href="../static/stylesheet.css" type="text/css">
</head>
<div id="attribution">

<img id="owlwire" src="../static/owlwire.svg"/>

<h2>Image Attribution</h2>

<p><b>Bard Owl</b> (BDOW)
<br>Author: ForestWander
<br>http://www.forestwander.com/2009/06/barred-owl-in-tree-2/
<br>CC BY-SA 3.0</p>

<p><b>Barn Owl</b> (BNOW)
<br>Author: Peter Trimming
<br>http://en.wikipedia.org/wiki/Barn_owl#mediaviewer/File:Tyto_alba_-British_Wildlife_Centre,_Surrey,_England-8a_(1).jpg
<br>CC BY 2.0</p>

<p><b>Boreal Owl</b> (BOOW)
<br>Author: Wikipedia user mdf
<br>http://commons.wikimedia.org/wiki/File:Aegolius-funereus-001.jpg
<br>CC BY-SA 3.0</p>

<p><b>Burrowing Owl</b> (BUOW)
<br>Author: Wikipedia user Dori
<br>http://en.wikipedia.org/wiki/Burrowing_owl#mediaviewer/File:Burrowing_Owl_4354.jpg
<br>CC BY-SA 3.0</p>

<p><b>Eastern Screech-Owl</b> (ESOW)
<br>Author: Wolfgang Wander
<br>http://www.pbase.com/image/58326162
<br>CC BY-SA 3.0</p>

<p><b>Elf Owl</b> (ELOW)
<br>Author: Wikipedia user BBODO
<br>http://en.wikipedia.org/wiki/Elf_owl#mediaviewer/File:Micrathene_whitneyi_29APR12_Madera_Canyon_AZ.jpg
<br>CC BY 3.0</p>

<p><b>Ferruginous Pygmy-Owl</b> (FPOW)
<br>Author: Wikipedia user Sky Jacobs
<br>http://en.wikipedia.org/wiki/Ferruginous_Pygmy_Owl#mediaviewer/File:Cactus_Ferruginous_Pygmy-owl.jpg
<br>CC BY-SA 3.0</p>

<p><b>Flammulated Owl</b> (FLOW)
<br>Author: Jacob Shorty
<br>Public Domain</p>

<p><b>Great Gray Owl</b> (GGOW)
<br>Author: Olaf Oliviero Riemer
<br>http://en.wikipedia.org/wiki/Great_grey_owl#mediaviewer/File:Bartkauz_-_Great_Grey_Owl_(Strix_nebulosa)_-_Weltvogelpark_Walsrode_2012-004-cropped.jpg
<br>CC BY-SA 3.0</p>

<p><b>Great Horned Owl</b> (GHOW)
<br>Author: Dick Daniels
<br>http://carolinabirds.org
<br>CC BY-SA 3.0</p>

<p><b>Long-eared Owl</b> (LEOW)
<br>Author: Wikipedia user Sascha Rösner
<br>http://en.wikipedia.org/wiki/Asio#mediaviewer/File:Waldohreule_in_freier_Wildbahn.jpg
<br>CC BY-SA 3.0</p>

<p><b>Northern Hawk Owl</b> (NHOW)
<br>Author: Evetuisk
<br>http://commons.wikimedia.org/wiki/File:V%C3%B6%C3%B6tkakk.JPG
<br>CC BY-SA 3.0</p>

<p><b>Northern Pygmy-Owl</b> (NPOW)
<br>Author: Jacob Shorty
<br>Public Domain</p>

<p><b>Northern Saw-whet Owl</b> (NSWO)
<br>Author: Kameron Perensovich
<br>https://www.flickr.com/photos/kperensovich/7364047820/
<br>CC BY-SA 2.0</p>

<p><b>Short-eared Owl</b> (SEOW)
<br>Author: Bex Ross
<br>http://flickr.com/photos/21823610@N07/2272394967
<br>CC BY 2.0</p>

<p><b>Snowy Owl</b> (SNOW)
<br>Author: Flickr user pe_ha45
<br>http://flickr.com/photos/85081332@N00/3752076253
<br>CC BY 2.0</p>

<p><b>Spotted Owl</b> (SPOW)
<br>Author: U.S. Fish and Wildlife Service
<br>Public Domain</p>

<p><b>Western Screech-Owl</b> (WESO)
<br>Author: Laura Santry
<br>Public Domain</p>

<p><b>Whiskered Screech-Owl</b> (WHSO)
<br>Author: David Bygott
<br>https://www.flickr.com/photos/davidbygott/4049307854/in/photolist-7aPL9E-d9trWJ-6tnGLg-cCvVPu-aeHAVT-6ucuNv-f2V1WA/
<br>CC BY-NC-SA 2.0</p>

<br>
<p>Data is provided by the Cornell Lab of Ornithology through the <a href="https://confluence.cornell.edu/display/CLOISAPI/eBird+API+1.1">eBird API</a>.</p>

</div>
</body>
</html>
